<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL SHORTENER</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <main>
      <div class="container">
        <div class="header">URL SHORTENER</div>
        <form action="/link" method="POST"  class="form" id="form">
          <input
            type="text"
            name="url"
            placeholder="Paste a link to shorten"
          />
          <button type="submit" class="btn">Go!</button>
        </form>
      </div>
    </main>
  </body>
</html>