<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="./index.css" />
</head>
<body>
    <div class="container">
    <div class="header">SHORTEN URL LINK</div>
    <% if (shortenedUrl) { %>
    <p>Your shortened URL is:<a href="<%=shortenedUrl %>" target="_blank"><%= shortenedUrl %></a></p>
    <% } else { %>
        <p>There was an error creating the shortened URL.</p>
    <% } %>
</div>
</body>
</html>